a {
  color: inherit;
  text-decoration: inherit; }

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: fixed; }

body {
  font-family: "Raleway"; }

#root {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
  height: 100%; }
  @media (max-width: 959px) {
    #root {
      width: 100%;
      height: 200%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.turning-page {
  transition: -webkit-transform 1s cubic-bezier(0.35, 0.41, 0.21, 1);
  transition: transform 1s cubic-bezier(0.35, 0.41, 0.21, 1);
  transition: transform 1s cubic-bezier(0.35, 0.41, 0.21, 1), -webkit-transform 1s cubic-bezier(0.35, 0.41, 0.21, 1); }

.view-page-2 {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  @media (max-width: 959px) {
    .view-page-2 {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); } }

#page-1,
#page-2 {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  box-sizing: border-box;
  padding-right: 64px; }
  @media (max-width: 959px) {
    #page-1,
    #page-2 {
      padding-right: 0;
      padding-bottom: 64px; } }

#page-1 {
  background: black;
  color: rgba(255, 255, 255, 0.89); }

#page-2 {
  background: #fefefe;
  color: rgba(0, 0, 0, 0.87); }
  @media (max-width: 959px) {
    #page-2 {
      background-color: #f2f2f2; } }

#burger {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 20px;
  height: 15px;
  z-index: 2;
  cursor: pointer; }
  @media (min-width: 960px) {
    #burger {
      display: none; } }
  #burger.active > div:nth-child(1) {
    -webkit-transform: rotate(45deg) translateY(-2px);
            transform: rotate(45deg) translateY(-2px); }
  #burger.active > div:nth-child(2) {
    opacity: 0; }
  #burger.active > div:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(1px);
            transform: rotate(-45deg) translateY(1px); }
  #burger > div {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #5a5a5a;
    transition: opacity 0.125s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.125s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.125s cubic-bezier(0.4, 0, 0.2, 1), transform 0.125s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.125s cubic-bezier(0.4, 0, 0.2, 1), transform 0.125s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.125s cubic-bezier(0.4, 0, 0.2, 1); }
  #burger > div:nth-child(1) {
    -webkit-transform-origin: center left;
            transform-origin: center left;
    top: 0; }
  #burger > div:nth-child(2) {
    top: 6px; }
  #burger > div:nth-child(3) {
    -webkit-transform-origin: center left;
            transform-origin: center left;
    top: 12px; }

#side-panel-1,
#side-panel-2 {
  width: 64px;
  position: absolute;
  cursor: pointer;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 64px;
  letter-spacing: 0.08em;
  -webkit-transform-origin: center;
          transform-origin: center; }
  @media (min-width: 960px) {
    #side-panel-1,
    #side-panel-2 {
      width: 100vh;
      -webkit-transform: rotate(90deg) translateX(calc(-50vh + 32px)) translateY(calc(-100vw + 50vh + 32px));
              transform: rotate(90deg) translateX(calc(-50vh + 32px)) translateY(calc(-100vw + 50vh + 32px));
      letter-spacing: 0.12em; } }
  #side-panel-1 a,
  #side-panel-2 a {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    line-height: 64px;
    font-size: 18px;
    font-weight: 400;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }

#side-panel-1 {
  background: #fefefe;
  color: rgba(0, 0, 0, 0.87); }

#side-panel-2 {
  background: black;
  color: rgba(255, 255, 255, 0.89); }

#top-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  text-align: right;
  margin: 24px 96px auto auto;
  z-index: 1; }
  @media (max-width: 959px) {
    #top-menu {
      margin-right: 0;
      text-align: center;
      pointer-events: none;
      opacity: 0;
      background: black;
      text-align: left;
      height: 100%;
      padding-left: 30px;
      padding-top: 40px;
      margin: 0;
      transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1); }
      #top-menu.active {
        opacity: 1;
        pointer-events: auto; }
      #top-menu > a {
        color: lightgray;
        display: block;
        height: 2.5em;
        font-size: 19px; } }
  @media (min-width: 960px) {
    #top-menu a:not(.active) {
      color: lightgray; }
    #top-menu a:not(:last-child)::after {
      content: "|";
      color: rgba(0, 0, 0, 0.87);
      margin: 0 12px 0 12px; } }

#media-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 26px; }

#media-links-contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-top: 26px; }

#media-links-side-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
  position: absolute;
  top: 0;
  left: 38px;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto; }
  #media-links-side-container img {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    transition: -webkit-transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.1s cubic-bezier(0.4, 0, 0.2, 1); }
  #media-links-side-container img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  @media (max-width: 959px) {
    #media-links-side-container {
      display: none; } }

#title-container > h1 {
  font-size: calc(28px + 1.5vw);
  margin-bottom: 4px;
  font-weight: 200; }

#title-container > h2 {
  font-size: calc(10px + 1.1vw);
  margin-top: 8px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7); }

.media-link, .media-link-dark {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  height: 24px;
  width: 24px;
  opacity: 0.55;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.media-link-dark {
  -webkit-filter: invert(1);
          filter: invert(1); }

.media-link-dark:hover {
  -webkit-filter: invert(1) drop-shadow(0 0 14px #fefefe);
          filter: invert(1) drop-shadow(0 0 14px #fefefe); }

.media-link:hover, .media-link-dark:hover {
  opacity: 1; }

.slide-in {
  opacity: 0;
  -webkit-animation: slide-in-kf 1s normal forwards;
          animation: slide-in-kf 1s normal forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.scale-center {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: scale-center-kf .5s normal forwards;
          animation: scale-center-kf .5s normal forwards;
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform-origin: center;
          transform-origin: center; }

#section-container {
  width: calc(100% - 110px);
  height: calc(100% - 50px);
  margin-left: 110px;
  margin-top: 50px;
  position: relative; }
  @media (max-width: 959px) {
    #section-container {
      width: 100%;
      margin-left: 0;
      margin-top: 15px;
      height: calc(100% - 15px); } }

.section {
  position: absolute;
  padding: 20px 40px 20px 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -1;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  box-sizing: border-box; }
  @media (max-width: 959px) {
    .section {
      padding: 10px;
      background-color: #f2f2f2; } }
  .section.active {
    width: 100%;
    opacity: 1;
    z-index: 1; }
  .section .section-title {
    position: relative;
    height: calc(50% - 192px);
    -ms-flex-negative: 0;
        flex-shrink: 0;
    min-height: 40px; }
    @media (max-width: 959px) {
      .section .section-title {
        -webkit-box-flex: 0;
            -ms-flex: none;
                flex: none;
        height: auto; } }
    .section .section-title h1 {
      position: absolute;
      bottom: 12px;
      left: 0;
      right: 0;
      margin: 0;
      margin-left: 20px;
      font-size: 1.8em;
      font-weight: 400; }
    .section .section-title h2 {
      position: absolute;
      bottom: 12px;
      left: 0;
      right: 0;
      margin: 0;
      margin-left: 20px;
      font-size: 1.8em;
      font-weight: 400; }
  .section .section-content {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    overflow-y: auto;
    /*p {
            text-align: justify;
        }*/ }

@-webkit-keyframes slide-in-kf {
  from {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-kf {
  from {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes scale-center-kf {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

@keyframes scale-center-kf {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

.section-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .section-about .row-left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 20px; }
  .section-about .row-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .section-about .row-right .img-circle {
      border-radius: 50%;
      max-width: 100%;
      height: auto; }

.section-what {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .section-what .row-left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 20px; }
  .section-what .row-center {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 20px; }
  .section-what .row-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 20px; }
  .section-what .row-ext {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 20px; }

.section-studio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .section-studio a {
    color: lightblue; }
  .section-studio .row-left {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin: 20px; }
  .section-studio .row-center {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin: 20px; }
    .section-studio .row-center ul {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column: 3;
      -webkit-column-gap: 40px;
      column-gap: 40px;
      -webkit-column-width: 10px;
      column-width: 120px; }
  .section-studio .row-right {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 959px) {
      .section-studio .row-right {
        display: none; } }

.section-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .section-works .row-left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 20px; }
    .section-works .row-left ul {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column: 3;
      -webkit-column-gap: 40px;
      column-gap: 40px;
      -webkit-column-width: 10px;
      column-width: 120px; }
  .section-works .row-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

.section-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .section-contact .row-left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 45px;
    margin-left: 20px; }
    @media (max-width: 959px) {
      .section-contact .row-left p,
      .section-contact .row-left h2 {
        text-align: center !important; } }
    .section-contact .row-left a:hover {
      color: blue; }
  .section-contact .row-right {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-top: 80px; }
    .section-contact .row-right h3 {
      text-align: center;
      font-size: 1.4em; }
    .section-contact .row-right p {
      text-align: center; }
    .section-contact .row-right a:hover {
      color: blue; }
  .section-contact .row-contact-link {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%; }
  .section-contact h2 {
    font-size: 3em; }

.section-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .section-project a {
    color: lightblue; }
  .section-project .row-left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 20px; }
  .section-project .row-center {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 20px; }
    .section-project .row-center ul {
      list-style: none;
      padding: 0px;
      margin: 0px; }
      .section-project .row-center ul li {
        display: inline;
        margin: 20px; }
  .section-project .row-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 20px; }

@media (max-width: 959px) {
  .on-mobile {
    margin-bottom: 0px !important;
    margin-top: 0px !important; } }

@media (max-width: 959px) {
  .section-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (min-width: 960px) {
  .hide-not-mobile {
    display: none; } }

@media (max-width: 959px) {
  .hide-on-mobile {
    display: none; } }

/* -- PLAYER -- */
.audioPlayer {
  width: 80%;
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px; }
  .audioPlayer #siriC {
    position: relative;
    height: 210px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
    .audioPlayer #siriC .playerOverlay {
      position: absolute;
      width: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      left: -50%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      background: #3d3d3d;
      opacity: 0;
      pointer-events: none;
      transition: left 0.245s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.245s cubic-bezier(0.4, 0, 0.2, 1); }
      .audioPlayer #siriC .playerOverlay.active {
        opacity: .7;
        left: 0;
        pointer-events: auto; }
      .audioPlayer #siriC .playerOverlay #playlist {
        list-style: none; }
        .audioPlayer #siriC .playerOverlay #playlist li a {
          color: white;
          opacity: 0.85;
          display: block;
          cursor: pointer;
          padding: 2px 0; }
          .audioPlayer #siriC .playerOverlay #playlist li a.active {
            opacity: 1;
            text-decoration: none; }
        .audioPlayer #siriC .playerOverlay #playlist li a:hover {
          text-decoration: none;
          color: lightblue; }
  .audioPlayer .controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 6px 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .audioPlayer .controls i {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.6); }
  .audioPlayer .playerContainer {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .audioPlayer .playerContainer .progressBar {
      margin: 4px 8px;
      height: 4px;
      background-color: rgba(0, 0, 0, 0.08);
      border-radius: 10px; }
      .audioPlayer .playerContainer .progressBar .bar {
        width: 0%;
        height: 4px;
        background-color: rgba(0, 0, 0, 0.33);
        border-radius: 10px; }
    .audioPlayer .playerContainer .trackInfo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 6px 0;
      width: 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      .audioPlayer .playerContainer .trackInfo .progressTime {
        -webkit-box-flex: 1;
            -ms-flex: 1 10%;
                flex: 1 10%;
        text-align: right; }
      .audioPlayer .playerContainer .trackInfo .title {
        -webkit-box-flex: 2;
            -ms-flex: 2 60%;
                flex: 2 60%;
        text-align: center; }
      .audioPlayer .playerContainer .trackInfo .duration {
        -webkit-box-flex: 1;
            -ms-flex: 1 10%;
                flex: 1 10%;
        text-align: left; }
