$page-turn-curve: cubic-bezier(0.35, 0.41, 0.21, 1);
$material-curve: cubic-bezier(0.4, 0.0, 0.2, 1);
$page-turn-duration: 1s;

$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1920px;

$dark: black;
$light: #fefefe;

$dark-text: rgba(black, 0.87);
$dark-text-secondary: rgba(black, 0.54);
$dark-text-hint: rgba(black, 0.38);
$dark-text-disabled: rgba(black, 0.12);

$light-text: rgba(white, 0.89);
$light-text-secondary: rgba(white, 0.70);
$light-text-hint: rgba(white, 0.50);
$light-text-disabled: rgba(white, 0.12);


$font: "Raleway";
$side-panel-size: 64px;

a {    
  color: inherit;
  text-decoration: inherit;
}

@mixin mobile {
    @media (max-width: $sm - 1) {
        @content;
    }
}

@mixin not-mobile {
    @media (min-width: $sm) {
        @content;
    }
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;    
    overflow: hidden;
}

body {            
    font-family: $font;       
}

#root {
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;  
    display: flex; 
    width: 200vw;

    @include mobile {
        width: 100vw;
        height: 200vh;
        flex-direction: column;
    }        
}

.turning-page {
    transition: transform $page-turn-duration $page-turn-curve;
}

.view-page-2 {        
    transform: translateX(-100vw);

    @include mobile {
        transform: translateY(-100vh);
    }
}

#page-1, #page-2 {   
    position: relative; 
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    box-sizing: border-box;
    padding-right: $side-panel-size;

    @include mobile {
        padding-right: 0;
        padding-bottom: $side-panel-size;        
    }     
}

#page-1 {    
    background: $dark;
    color: $light-text;
}

#page-2 {    
    background: $light;
    color: $dark-text;

    @include mobile {
         background-color: #f2f2f2;
    }
}

#side-panel-1, #side-panel-2 {
    width: $side-panel-size;    
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: $side-panel-size;  
    letter-spacing: 0.08em;    
    transform-origin: center;  

    @include not-mobile {    
        //transform: rotate(90deg) translateY(-50vw) translateX(calc(-50vh + #{$side-panel-size/2}));    
        width: 100vh;
        transform: rotate(90deg) translateX(calc(-50vh + #{$side-panel-size/2})) translateY(calc(-100vw + 50vh + #{$side-panel-size/2}));                        
        letter-spacing: 0.12em;       
    }

    a {
        display: inline-block;
        white-space: nowrap;
        width: 100%;
        text-align: center;
        line-height: $side-panel-size;
        //transform-origin: center center;
        //transform: translateY(calc(50vh - 50%)) translateX(calc(-50% + #{$side-panel-size / 2})) rotate(90deg);
        font-size: 18px;
        font-weight: 400;          
        user-select: none;
    }
}

#side-panel-1 {
    background: $light;
    color: $dark-text;

}

#side-panel-2 {
    background: $dark;
    color: $light-text;
}

#top-menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    text-align: right;
    margin: 24px $side-panel-size + 32px auto auto;

    @include mobile {        
        margin-right: 0;
        text-align: center;
    }
}


#top-menu > a:not(:last-child)::after {
    content: "|";
    margin: 0 12px 0 12px;
}

#media-links-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;    
    margin-top: 26px;    
}

#media-links-contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;    
    margin-top: 26px;    
}

#media-links-side-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 300px;
    position: absolute; 
    top: 0;
    left: 38px; 
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;

    @include mobile {
        display: none;
    }
}

#title-container > h1 {
    font-size: calc(28px + 1.5vw);
    margin-bottom: 4px;        
    font-weight: 200;    
}

#title-container > h2 {
    font-size: calc(10px + 1.1vw);
    margin-top: 8px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: $light-text-secondary;
}

.media-link {
    flex: 0;
    height: 24px;  
    width: 24px;  
    opacity: 0.55;
    transition: opacity .3s $material-curve;
    cursor: pointer;
    user-select: none;
}

.media-link-dark {
    @extend .media-link;
    filter: invert(1);
}

.media-link-dark:hover {
    filter: invert(1) drop-shadow(0 0 14px $light);
}

.media-link:hover {
    opacity: 1;
}

.slide-in {
    opacity: 0;    
    animation: slide-in-kf 1s normal forwards;  
    animation-timing-function: $material-curve;
}

.scale-center {
    transform: scaleX(0);
    animation: scale-center-kf .5s normal forwards; 
    animation-delay: .45s;
    animation-timing-function: $material-curve;
    transform-origin: center;
}

#section-container {
    width: calc(100% - 110px);
    height: calc(100% - 50px);
    margin-left: 110px;    
    margin-top: 50px;
    position: relative;

    @include mobile {
        width: 100%;
        margin-left: 0;
    }
}

.section {
    position: absolute;
    padding: 20px 40px 20px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: -1;
    transition: opacity .5s $material-curve;
    opacity: 0;
    box-sizing: border-box;

    @include mobile {
        padding: 10px;
        background-color: #f2f2f2;

    }
    &.active {    
        width: 100%;    
        opacity: 1;
        z-index: 1;
    }

    .section-title {                
        position: relative;        
        height: calc(50% - 192px);
        flex-shrink: 0; 
        min-height: 40px;        
        
        @include mobile {
            flex: none;
            height: auto;
        }

        h2 {
            position: absolute;
            bottom: 12px;
            left: 0;
            right: 0;
            margin: 0;
            margin-left: 20px;
        }
    }

    .section-content {        
        flex-grow: 3;
        overflow-y: auto;

        p {
            text-align: justify;
        }
    }
}

@keyframes slide-in-kf {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes scale-center-kf {
    from {    
        transform: scaleX(0);        
    }
    to {
        transform: scaleX(1);        
    }
}

.section-about {
    display : flex;
    flex-direction: row;

    @include mobile {
        flex-direction : column;
    }

    .row-left {
        flex: 1 ;
        margin: 20px;
    }

    .row-right {
        flex: 1;
        display: flex;
         justify-content: center;
        .img-circle {
    border-radius: 50%;
   

        }
    }

}

.section-what {
    display : flex;
    flex-direction: row;

    @include mobile {
        flex-direction : column;
    }

    .row-left {
        flex: 1;
        margin: 20px;
    }
    .row-center {
        flex: 1;
        margin: 20px;
    }
    .row-right {
        flex: 1;
        margin: 20px;
    }
        .row-ext {
        flex: 1;
        margin: 20px;
    }

}

.section-studio {
    display : flex;
    flex-direction: row;
    //flex-wrap: wrap;

    @include mobile {
        flex-direction : column;
    }

    .row-left {
        flex: 1;
        margin: 20px;
    }
    .row-center {
        flex: 1;
        margin: 20px;
    }
    .row-right {
        flex: 2;
        @include mobile {
        display: none;
        }
    }

}

.section-works {
    display : flex;
    flex-direction: row;
    //flex-wrap: wrap;

    @include mobile {
        flex-direction : column;
    }

    .row-left {
    flex: 1;
    margin: 20px;

    ul {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column: 3;

        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        column-gap: 40px;

        -webkit-column-width: 10px;
        -moz-column-width: 120px;
        column-width: 120px;
    }

    }
    /*.row-center {
    flex: 1;
    }*/

    .row-right {
    flex: 1; //flex: 3 avant modif ul
    }
}

.section-contact {
    display : flex;
    flex-direction: row;
    //flex-wrap: wrap;

    @include mobile {
        flex-direction : column;
    }

    .row-left {
        flex: 1;
        margin: 20px;
        /*margin-top: 40px;
        margin-left: 50px;
        margin-right: 20px;*/
        @include mobile {
            p, H4 {
                text-align: center;
            }
        }
    }
    .row-right {
        flex: 1;
        margin: 20px;
        /*margin-top: 40px; /*80px*/
        /*margin-right: 50px; */
        h4 {
            text-align: center;
        }
        p {
            text-align: center;
        }
        a:hover {
            color: blue;
        } 
    }    
    .row-contact-link {
        flex: 1;
        align-content: center;

    } 
          
}

.on-mobile {
    @include mobile {
        margin-bottom: 0px;
    }
    
}

.hide-not-mobile {
    @include not-mobile {
        display: none;
    }
}

.player-circle {
    display: flex;
    flex-direction: inline;
    flex-wrap: wrap;
    
}

